POSTGRES_DB=matchlead
POSTGRES_USER=matchlead
POSTGRES_PASSWORD=matchlead
POSTGRES_PORT=5432

DB_USERNAME=matchlead
DB_PASSWORD=matchlead
DB_JDBC_URL=jdbc:postgresql://localhost:5432/matchlead

REDIS_HOSTS=redis://localhost:6379
REDIS_PORT=6379

JWT_ISSUER=matchlead
JWT_PUBLIC_KEY_LOCATION=jwt/publicKey.pem
JWT_SIGN_KEY_LOCATION=jwt/privateKey.pem
JWT_EXPIRES_IN=3600
